:root {
  --system-ui: -apple-system, BlinkMacSystemFont, 'avenir next', 'helvetica neue', helvetica, ubuntu, roboto, noto, 'segoe ui', arial, sans-serif;
  --unit: 8px;
  --max-width: 180rem;
//
  --ease: all 400ms ease;
//
  --zmax: 9999;
  --z5: 5;
  --z4: 4;
  --z3: 3;
  --z2: 2;
  --z1: 1;
  --z0: -1;
  --zmin: -9999;
//
  --gravity: #202023;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility !important;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  color: var(--gravity);
  font: normal 1.8rem/1.4 var(--system-ui);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ul,
li,
figure,
blockquote,
caption,
section,
article,
main,
footer,
img,
video,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
li,
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
video,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:focus     { outline: 1px solid var(--gravity); }
