@import '~/style/grid.scss';

@font-face {
  font-family: "Grenette";
  src: url("../static/fonts/gelica.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Founders";
  src: url("../static/fonts/founders-light.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "Cosmica";
  src: url("../static/fonts/cosmica.woff2") format("woff2");
  font-display: block;
}

//

.f--g { font-family: 'Grenette', var(--system-ui); }
.f--f { font-family: 'Founders', var(--system-ui); }
.f--c { font-family: 'Cosmica', var(--system-ui); }

.fs--xl { font-size: 3.4rem; @include breakpoint(md) { font-size: 4rem; }}
.fs--lg { font-size: 3rem; line-height: 1; }
.fs--md { font-size: 2.2rem; line-height: 1.4; @include breakpoint(md) { font-size: 2.4rem; }}
.fs--sm { font-size: 1.5rem; line-height: 1.2; letter-spacing: .6px; }

.uc { text-transform: uppercase; }
.tac { text-align: center; }
.tar { text-align: right; }