@import '~/style/grid.scss';

@font-face {
  font-family: "Grenette";
  src: url("../static/fonts/grenette.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Founders";
  src: url("../static/fonts/founders-grotesk.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Cosmica";
  src: url("../static/fonts/cosmica.woff2") format("woff2");
  font-display: swap;
}

//

.f--g { font-family: 'Grenette', var(--system-ui); }
.f--f { font-family: 'Founders', var(--system-ui); }
.f--c { font-family: 'Cosmica', var(--system-ui); }

.fs--lg { font-size: 3.2rem; line-height: 1; }
.fs--md { font-size: 2.5rem; line-height: 1.4; }
.fs--sm { font-size: 1.6rem; line-height: 1; letter-spacing: .6px; }


.uc { text-transform: uppercase; }
.tac { text-align: center; }
.tar { text-align: right; }