@import "~/assets/style/grid.scss";

@font-face {
  font-family: "sans";
  src: url("~/assets/type/sans.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
}

@font-face {
  font-family: "fine";
  src: url("~/assets/type/fine.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "italic";
  src: url("~/assets/type/italic.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
}

@mixin sans {
  font-family: "sans";
}

@mixin fine {
  font-family: "fine";
}

@mixin italic {
  font-family: "italic";
}

.sans {
  font-family: "sans";
}

.fine {
  font-family: "fine";
}

.uc {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}

h1 {
  @include sans;
  // font-size: 5.2rem;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 6rem);
  font-weight: 360;
  letter-spacing: -0.5px;
  line-height: 116%;
  @include breakpoint(md) {
    margin-bottom: 2rem;
  }
}

h2 {
  @include italic;
  font-size: 3.4rem;
  font-size: clamp(1rem, -0.875rem + 7vw, 4.2rem);
  font-weight: 100;
  line-height: 142%;
}
