@import "~/assets/style/grid.scss";

@font-face {
  font-family: "sans";
  src: url("~/assets/type/sans.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
  font-variation-settings: 'slnt' 0;
}

@font-face {
  font-family: "thin";
  src: url("~/assets/type/thin.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "italic";
  src: url("~/assets/type/italic.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
}

@mixin sans {
  font-family: "sans", var(--system-font);
}

@mixin thin {
  font-family: "thin", Georgia, serif;
}

@mixin italic {
  font-family: "italic", Courier, monospace;
}

.sans {
  @include sans;
}

.thin {
  @include thin;
}

.italic {
  @include italic;
}

h1 {
  @include sans;
  font-size: clamp(1rem, -0.875rem + 12vw, 6rem);
  font-weight: 360;
  letter-spacing: -0.64px;
  line-height: 114%;
}

h2 {
  @include italic;
  font-size: clamp(1rem, -0.875rem + 10vw, 4.2rem);
  font-weight: 100;
  line-height: 144%;
}

h3 {
  @include thin;
  font-size: clamp(3.2rem, -0.875rem + 4vw, 4rem);
  line-height: 120%;
}

h4 {
  @include sans;
  font-size: clamp(2.4rem, 2.1vw, 3rem);
  font-weight: 450;
  letter-spacing: -0.5px;
  line-height: 120%;
}

h5 {
  @include sans;
  font-size: clamp(2rem, 1.6vw, 2.4rem);
  font-weight: 480;
  line-height: 120%;
}

h6 {
  @include sans;
  font-size: clamp(1.7rem, 1.1vw, 1.9rem);
  font-weight: 360;
  line-height: 132%;
}

small {
  font-size: 1.3rem;
  font-weight: 550;;
}

p {
  // @include sans;
  font-size: clamp(1.7rem, 1.24vw, 1.9rem);
  font-weight: 400;
  line-height: 148%;
}

p + p {
  margin-bottom: 1.5rem;
  // text-indent: 4ch;
}

h5 + h4 {
  margin-top: 6.4rem;
  @include breakpoint(lg) {
    margin-top: 8rem;
  }
}

.uc {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}