@import "~/assets/style/grid.scss";

@font-face {
  font-family: "sans";
  src: url("~/assets/type/sans.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
}

@font-face {
  font-family: "thin";
  src: url("~/assets/type/thin.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "italic";
  src: url("~/assets/type/italic.woff2") format("woff2");
  font-display: block;
  font-weight: 1 999;
}

@mixin sans {
  font-family: "sans";
}

@mixin thin {
  font-family: "thin";
}

@mixin italic {
  font-family: "italic";
}

.sans {
  font-family: "sans";
}

.thin {
  font-family: "thin";
}

.italic {
  font-family: "italic";
}

.uc {
  text-transform: uppercase;
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.taj {
  text-align: justify;
}

h1 {
  @include sans;
  font-size: clamp(1rem, -0.875rem + 12vw, 6rem);
  font-weight: 360;
  letter-spacing: -0.5px;
  line-height: 116%;
}

h2 {
  @include italic;
  font-size: clamp(1rem, -0.875rem + 10vw, 4.2rem);
  font-weight: 100;
  line-height: 144%;
}

h3 {
  @include thin;
  font-size: clamp(3.2rem, -0.875rem + 4vw, 4.2rem);
  line-height: 132%;
}
