@import '~/static/style/grid.scss';

@font-face {
  font-family: "tomato-grotesk";
  src: url("~/static/type/tomato-grotesk.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "gt-alpina-fine";
  src: url("~/static/type/gt-alpina-fine.woff2") format("woff2");
  font-display: block;
}

@font-face {
  font-family: "gt-alpina-thin";
  src: url("~/static/type/gt-alpina-thin.woff2") format("woff2");
  font-display: block;
}

.title {
  font: normal 9.6vw/1.1 'tomato-grotesk', var(--system-ui);
  @include breakpoint(md) { font-size: 4vw; }
}

.brow {
  font: normal 7.4vw/1.1 'gt-alpina-fine', var(--system-ui);
  @include breakpoint(md) { font-size: 2.8vw; }
}

.subtitle {
  font: normal 6.4vw/1.25 'gt-alpina-thin', var(--system-ui);
  @include breakpoint(md) { font-size: 3vw; }
}

.p {
  font: normal 5.8vw/1.64 'tomato-grotesk', var(--system-ui);
  @include breakpoint(md) { font-size: 2.1vw; }
}

.caption {
  font: normal 4.2vw/1.4 'tomato-grotesk', var(--system-ui);
  @include breakpoint(md) { font-size: 2vw; }
  @include breakpoint(lg) { font-size: 1.5vw; }
}

.caption--sm {
  font: normal 4.2vw/1.1 'gt-alpina-fine', var(--system-ui);
  @include breakpoint(md) { font-size: 1.8vw; }
  @include breakpoint(lg) { font-size: 1.2vw; }
}

.uc  { text-transform: uppercase; }
.tac { text-align: center; }
.tar { text-align: right; }
.taj { text-align: justify; }
